# Python Music Software

aubio
auditok
foxdot
macos-speech
midiutil
mido
mingus
miniaudio
music21
pyaudio
pydub
pyknon
pyo
pyrubberband
pysoundfile
python-osc
python-rtmidi
pytuning
sox


## Others
#ctcsound.py (from csound Framework)
#sudo ln -s /Library/Frameworks/CsoundLib64.framework/Resources/Python/Current/ctcsound.py /usr/local/lib/python3.9/site-packages/ctcsound.py


## Check these out

pyComposition - https://github.com/apalomba/PyComposition

pippi - https://github.com/luvsound/pippi

